<%= form_for(@post, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <p><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</p>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= f.label :title, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :title, :class => "input-xlarge span5", :placeholder => "type your title here..." %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :content, :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :content, :class => "input-xlarge span5", :rows => "20", :placeholder => "type your content here..." %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit :class => "btn btn-primary" %>
      <%= link_to 'Back', posts_path, :class => "btn" %>
    </div>
  </fieldset>

<% end %>
