<% if notice %>
  <div class="alert alert-success">
    <span id="notice"><%= notice %></span>
  </div>
<% end %>

<div class="hero-unit narrow">
  <h2><%= @post.title %></h2>
</div>

<div class="hero-unit">
  <p>
    <%= @post.content %>
  </p>
</div>

<%= button_to 'Delete', @post, :method => 'delete', :class => 'btn' %>
<%= link_to 'Back', posts_path, :class => "btn" %>
