<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "bootstrap", "bootstrap-responsive", "core", :media => "all" %>
  <%= javascript_include_tag "jquery", "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "A Blog System", posts_path, :class => "brand" %>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><%= link_to "Home", posts_path %></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">

    <div class="blog-header hero-unit narrow">
      <div class="span3 offset7 clearfix">
        <%= link_to 'New Post', new_post_path, :class => 'btn btn-primary' %>
      </div>
      <h1><%= link_to "My Blog", posts_path %></h1>
      <p>a demo blog system</p>

    </div>

    <%= yield %>

  </div>

</body>
</html>
